<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-warning"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<h1 *ngIf="currentBrand">{{ currentBrand.brandName }} seçtiniz.</h1>

<div class="mb-3">
  <label for="filterText" class="form-label">Marka Ara</label>
  <input
    type="text"
    [(ngModel)]="filterText"
    class="form-control"
    id="filterText"
    placeholder="arama ifadesi giriniz"
  />
</div>

<div *ngIf="filterText.length > 2" class="alert alert-danger">
  {{ filterText }} aradınız.
</div>

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        Markalar
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <ul class="list-group" *ngIf="dataLoaded == true">
          <li
            routerLink="/cars"
            [class]="getAllBrandClass()"
            *ngIf="!filterText"
          >
            Tüm Markalar
          </li>
          <li            
            (click)="setCurrentBrand(brand)"
            routerLink="/cardetail/brand/{{ brand.id }}"
            [class]="getCurrentBrandClass(brand)"
            *ngFor="let brand of brands | filterPipeBrand: filterText"
          >
            {{ brand.brandName }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<select class="form-select" [(ngModel)]="brandId">
  <option selected>Markalar</option>
  <option *ngFor="let brand of brands" [value]="brand.id">{{brand.brandName}}</option>
</select>