
<div class="container">
    
    <app-navi></app-navi>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <app-brand></app-brand>
            </div>
        <div class="col-md-4">
        <app-car></app-car>
        </div>
        <div class="col-md-4">
        <app-car-detail></app-car-detail>
        </div>
    </div>

    <div class="row">        
        <div class="col-md-4">
        <app-customer-detail></app-customer-detail>
        </div>
        <div class="col-md-4">
        <app-rental-detail></app-rental-detail>
        </div>
        <div class="col-md-4">
        <app-color></app-color>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

</div>